@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "theme.css";
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  outline: none;
}

#root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-size: 17px;
  background-color: white;
  color: black;
  font-weight: 200;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.submit-btn {
  background: #212b3d;
  border-radius: 2px;
  border-width: 0;
  font-weight: 295;
  color: white;
  padding: 5px;
  font-size: 16px;
  width: 250px;
  align-self: center;
}
button:hover,
.submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.back-home-container button {
  width: 120px;
}
.back-home-container {
  margin: 2%;
}

.header-component {
  background: url("/src/client/assets/images/meal-img.png") no-repeat;
  background-size: cover;
  height: 700px;
  color: white;
  text-align: -webkit-center;
}

.header-upper {
  display: flex;
  justify-content: space-between;
  max-width: 1900px;
}

.menu {
  display: inline-flex;
}

.menu li {
  margin: 20px;
  color: white;
}

menu,
.logo {
  margin: 20px;
}
.logo {
  font-size: 30px;
  font-family: "Kaushan Script", cursive;
  color: white;
  font-weight: 400;
  background: #212b3d;
  border-radius: 27px 8px 27px 8px;
  padding: 2px 25px 2px 25px;
  -webkit-box-shadow: 0 0 10px 0 white;
  box-shadow: 0 0 10px 0 white;
}
.know-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 -30px 45px -20px black;
  box-shadow: 0 -30px 45px -20px black;
}
.know-more-upper {
  text-align: center;
}
/* Arrow */
.arrow-container {
  height: 50px;
  display: flex;
  justify-content: center;
}

@keyframes arrow-ani {
  from {
    border-left: 14px solid #555;
  }
  to {
    border-left: 14px solid rgba(255, 0, 0, 0.657);
  }
}
.arrow {
  margin-top: 15px;
  color: black;
  font-size: 34px;
  animation-name: arrow-ani;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 14px solid #555;
  border-bottom: 14px solid transparent;
}
.arrow:hover {
  animation: none;
  cursor: pointer;
  color: red;
}
#arrow-bottom {
  transform: rotate(-90deg);
}
.go-top-text {
  margin-top: -5px;
  cursor: pointer;
}
.go-top-text:hover {
  color: rgba(255, 0, 0, 0.8);
}

.know-more-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: #212b3d;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
  padding: 5px 20px 0 20px;
  max-width: 1900px;
  position: relative;
  animation-name: appear;
  animation-duration: 0.5s;
}
@keyframes appear {
  0% {
    top: 200px;
  }

  100% {
    top: 0;
  }
}

.know-more-title {
  cursor: pointer;
  margin-bottom: -5px;
}
.know-more-title:hover {
  color: rgba(255, 0, 0, 0.8);
}
.know-more-content-div {
  text-align: center;
  display: flex;
  margin: 5px 10px 15px 10px;
}

.know-more-content-div p {
  margin-left: 20px;
  margin-right: 20px;
}
.know-more-content-title {
  padding: 15px;
  width: 60%;
  align-self: center;
  text-align: center;
  color: white;
  margin: 15px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px -1 px white;
  box-shadow: 0 0 10px -2px white;
}

.img-container-small {
  min-width: 220px;
}
.img-container-small .img {
  height: 220px;
}
/* ------------------------ */
.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
}
.form-container div {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.form-container h4 {
  text-align: center;
  margin-top: 0;
}
form {
  align-items: center;
  text-align: center;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.mealReservation {
  margin: 30px;
}
.loading {
  color: red;
  text-align: center;
}

.main-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-component-form {
  display: flex;
  width: 95%;
  font-size: 14px;
  max-width: 1900px;
}

.main-component-form span,
.main-component-form label {
  padding-right: 10px;
}
.meals {
  min-height: 200px;
}
input,
textarea,
.main-component select {
  color: white;
  background: #212b3d;
  border: none;
  height: 25px;
  border-radius: 2px;
}

input,
textarea {
  width: 250px;
  margin: 5px;
}
textarea {
  height: 100px;
}
.submit-btn {
  margin-top: 20px;
  height: 30px;
}
.submit-btn:hover {
  cursor: pointer;
}
.no-result {
  color: red;
  margin: 5px;
  height: 200px;
  align-items: center;
}
.reservSubmitLabel {
  display: none;
  text-align: center;
  color: red;
}

.small-btn {
  width: 140px;
  margin-bottom: 10px;
  border-radius: 2px;
  border-width: 0;
  font-weight: 295;
  padding: 5px;
  font-size: 16px;
}
.white-btn {
  color: #212b3d;
  background-color: white;
}
.dark-btn {
  color: white;
  background-color: #212b3d;
}
@media screen and (max-width: 650px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1440px) {
  .header-component {
    height: 92vh;
  }
}

@media (max-width: 650px) {
  .menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    right: 0;
    width: 70%;
    height: 70%;
    background-color: #212b3d;
    z-index: 50;
  }
  .know-more-content-title {
    width: 100%;
  }
  .know-more-content-div {
    margin: 0;
    flex-direction: column-reverse;
    margin: 10px 0 15px 0;
  }
  .know-more-content-div p {
    margin-left: 0;
    margin-right: 0;
  }
}
