.meal-comtainer {
  overflow: hidden;
  background: #141621;
  margin: 20px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  width: 95vw;
}
.meal-comtainer span {
  /* color: #bdbec4; */
  color: #939497;
}
.img-container {
  width: 200px;
  min-width: 200px;
  overflow: hidden;
  align-self: center;
}
.meal-img {
  height: 205px;
}
.meal-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meal-info-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%;
  width: 100%;
}
.meal-info-container h3 {
  margin: 10px;
  overflow: hidden;
  /* color: #5f6270; */
  color: #939497;
}
.meal-info-container h3:hover {
  color: #bdbec4;
}
.meal-description {
  padding: 5px;
  margin: 2px;
  font-size: 16px;
  color: #141621;
  background: #5f6270;
  width: 98%;
  height: 70%;
}

.meal-info-lower {
  display: flex;
  background: #5f6270;
  width: 98%;
  height: 30%;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}
/* .meal-info-left {
  width: 50%;
} */
.meal-info-lower p {
  color: #141621;

  margin: 5px;
}
